<div class="background">
  <div class="card">
    <div class="card-header">
      <h3>My movies!</h3>
      <select #language>
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
    </div>

    <div class="card-body">
      <table class="tbl-header">
        <thead>
          <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Popularity</th>
            <th>Release date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-movie></app-movie>